
/* --------navlink is the Link --------*/

/* 1rem: 16px */
.navbar {
    padding: 1rem 2.5rem;
    background-color: var(--sage);
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .nav-link {
    color:var(--white);
    margin: 0 8px;
    text-decoration: none;
    font-size: 2rem;
  }

  .hero-img {
    width: 100%;
    height: 91vh;
  }

   .logo-container h4{
    color: var(--white);
    align-items: center;
    margin-top: 3rem;
    margin: 1rem;
    font-family: 'Cormorant', serif;
    font-size: 2rem;

   }
   .logo-container{
    justify-content: space-between;
   }
  .hamburger-menu {
    display: none;
  }


  /* Media Queries for Ipad/ Tablet */
  @media(min-width:481px) and (max-width:768px){
  .logo-container h4{
    font-family: 'Cormorant', serif;
    font-size: 1rem;
  margin-left: 4rem;
  }
  .logo-container img{
    position: absolute;
    width: 2.5rem;
  }
  .logo-container{
   justify-content: space-between;
  font-style: italic;
  align-items: center;
   }
   .navbar-heading-container h4{
  font-size: 2rem;
  margin-top: 0;
   }
   .hamburger-menu {
    display: block;
    margin-right: 1rem;
    padding-bottom: 1rem;


  }
  .list-items {
    display: none;
  }

  .navbar {
    display: block;
     position: relative;
  }
  .show-items {
    display: block;
  position: absolute;
  background-color: var(--sage);
  z-index: 15;
  width: 100%;
  height: 93vh;
  left: 0;
  }
  .list-items a {
    display: block;
    text-align: center;
    margin: 4rem 1rem;
    font-size: 2rem;

  }
   } 